.cat{
    color: black;
}
.logo-loja1{
    width: 330px;
    height: 200;
 
 }
 @media screen and (max-width: 768px) {
    nav li {
        float: none;
        text-align: center;
        width: 100%;
    }
    footer p {
        display: none;
    }
 }
